---
---

* { padding: 0; margin: 0; }

html {
	background-color: #fff;
}

body {
	font-size: 16px;
	color: #3B3B3B;
	width: 860px;
	margin: auto;
	padding: 32px 64px;
	box-sizing: content-box;
	box-shadow: #999 0 0 10px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1 { font-size: 32px; margin-bottom: 16px; }
h2 { font-size: 24px; }
h3 { font-size: 19px; }
h4 { font-size: inherit; }

ul, ol {
	margin-left: 20px;
}

p, ul, ol {
	margin-top: 10px;
	margin-bottom: 16px;
}

header#page-header {
	margin-bottom: 24px;
}

header#page-header div#banner {
	display: block;
	padding-left: 96px;
	background-image: url("/icon.png");
	background-repeat: no-repeat;
	background-size: 72px;
}

header#page-header h1 {
	font-size: 48px;
	margin: 0;
	padding: 0;
}

header#page-header h1 > a {
	color: #3B3B3B;
	text-decoration: none;
}

header#page-header h1 > a:hover {
	color: #5A5A5A;
}

header#page-header p#short-description {
	padding: 0;
	margin-top: -16px;;
	font-size: 21px;
}
